<div class="task <%= task.done ? 'done' : '' %>" data-name="<%= task.name %>" data-id="<%= task.id %>">
    <div class="flex w-full justify-between items-center
         mb-2 rounded-md cursor-pointer">
        <div class="flex gap-1 items-center">
            <button class="done-btn text-gray-300 text-2xl hover:text-opacity-80">
                <i class="fa-solid fa-circle-check"></i>
            </button>
            <p class="task-name text-black font-bold ml-2"><%= task.name %></p>
        </div>
        <div class="text-gray-500 flex">
            <p class="tracking-wider"><span class="task-pomos-done text-lg"><%= task.pomosDone %></span>
                / <span class="task-pomos-need"><%= task.pomosNeed %></span></p>
            <button class="toggle-update-btn border py-1 px-3 ml-2
            rounded-md hover:bg-gray-300 relative active:top-0.5">
                <i class="fa-solid fa-ellipsis-vertical text-2lg"></i>
            </button>
        </div>
    </div>

    <% if (task.description) { %>
        <div class="task-description bg-yellow-100 w-[28rem] mx-4
        text-gray-700 p-2 text-left rounded shadow">
            <%= task.description%>
        </div>
    <% } %>

    <%- include('./forms/update_form', {task}) %>
</div>